html/gitco2/importazioni/Ladon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="query">
<xs:restriction base="xs:string">
<xs:enumeration value="true"/>
<xs:enumeration value="false"/>
<xs:enumeration value="fail"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="reading">
<xs:complexType>
<xs:sequence>
<xs:element name="cam">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="serial" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:integer" minOccurs="0"/>
<xs:element name="mac" type="xs:string" minOccurs="0"/>
<xs:element name="ip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="date" type="xs:dateTime"/>
<xs:element name="timestamp" type="xs:long"/>
<xs:element name="plate">
<xs:complexType>
<xs:sequence>
<xs:element name="value" type="xs:string"/>
<xs:element name="direction" type="xs:integer" minOccurs="0"/>
<xs:element name="shape" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="vehicle" type="xs:string" minOccurs="0"/>
<xs:element name="color" type="xs:string" minOccurs="0"/>
<xs:element name="speed" type="xs:integer" minOccurs="0"/>
<xs:element name="x" type="xs:integer" minOccurs="0"/>
<xs:element name="y" type="xs:integer" minOccurs="0"/>
<xs:element name="width" type="xs:integer" minOccurs="0"/>
<xs:element name="height" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="adr" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="kemler" type="xs:string"/>
<xs:element name="onu" type="xs:integer"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="queries" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="no_insurance" type="query" minOccurs="0"/>
<xs:element name="no_inspection" type="query" minOccurs="0"/>
<xs:element name="theft" type="query" minOccurs="0"/>
<xs:element name="sives" type="query" minOccurs="0"/>
<xs:element name="blacklist" type="query" minOccurs="0"/>
<xs:element name="euro" type="xs:string" minOccurs="0"/>
<xs:element name="registration" type="xs:string" minOccurs="0"/>
<xs:element name="authorization" type="query" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="confidences" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="images" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ocr" minOccurs="0">
<xs:complexType>
<xs:all>
<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
</xs:all>
</xs:complexType>
</xs:element>
<xs:element name="context" minOccurs="0">
<xs:complexType>
<xs:all>
<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
</xs:all>
</xs:complexType>
</xs:element>
<xs:element name="patch" minOccurs="0">
<xs:complexType>
<xs:all>
<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
<xs:element name="data" type="xs:base64Binary" minOccurs="0"/>
</xs:all>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="lists" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="list" type="xs:string" minOccurs="0" maxOccurs="unbounded">
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="info" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="note" type="xs:string" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="type" type="xs:integer" minOccurs="0"/>
<xs:element name="remoteAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="version" use="required">
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="2"/>
<xs:maxInclusive value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
</xs:element>
</xs:schema>